a:link {
	color: #005FA9;
	text-decoration: none;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
a:visited {
	text-decoration: none;
	color: #005FA9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
a:hover {
	text-decoration: none;
	color: #990000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
a:active {
	text-decoration: none;
	color: #005FA9;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
body {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	filter: RevealTrans(Duration=5, Transition=5);
	scrollbar-arrow-color:#a7b2b6;
  scrollbar-base-color:#71828a;
  scrollbar-shadow-color:#3f4447;
  scrollbar-face-color:#71828a;
  scrollbar-highlight-color:#a7b2b6;
  scrollbar-dark-shadow-color:#FFFFFF;
  scrollbar-3d-light-color:#71828a;
}
.head1 {
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000066;
}
.head2 {


	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #990000;
	font-weight: bold;
}
.text {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
	line-height: 18px;
	
}
.index {
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
	font-style: italic;
}
.indexsmall {
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
	text-transform: none;
	font-style: italic;
	font-variant: normal;
	text-decoration: none;
	vertical-align: -25%;
	position: static;
}
.indexbig {
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
	font-style: italic;
	text-transform: none;
; vertical-align: 25%
}
.symbol {
	font-size: 14px;
	font-family: Symbol;
	font-weight: normal;
	color: #000000;
	font-style: italic;
	letter-spacing: 2px;
	white-space: nowrap;
}
.head3 {



	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
}
.table {
}
.indexsmalldigit {

	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
	text-transform: none;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	vertical-align: -25%;
	position: static;
}
.stepen {

	font-size: 10px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
	font-style: normal;
	text-transform: none;
; vertical-align: 25%
}
.indexBIGEST {
	font-size: 10px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
	font-style: normal;
	text-transform: none;
; vertical-align: 25%
}
.indexsmaldigit {

	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
	text-transform: none;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	vertical-align: -25%;
	position: static;
}

.indexsBIGdigit {


	font-size: 11px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
	text-transform: none;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	vertical-align: 25%;
	position: static;
}
.indexsmallSymbol {

	font-size: 12px;
	font-family: Symbol;
	font-weight: normal;
	color: #000000;
	text-transform: none;
	font-style: italic;
	font-variant: normal;
	text-decoration: none;
	vertical-align: -25%;
	position: static;
}
.indexbigSymbol {

	font-size: 12px;
	font-family: Symbol;
	font-weight: normal;
	color: #000000;
	font-style: italic;
	text-transform: none;
; vertical-align: 25%
}



