/************
/***********************************************/
/* HTML tag styles                             */
/***********************************************/
body{
	font-family: Arial,sans-serif;
	color: #000000;
	line-height: 1.27;	
	margin: 0px;
	padding: 0px;
  scrollbar-base-color:#d3d3d3;
  scrollbar-shadow-color:#a52a2a;
  scrollbar-face-color:#d6d6d6;
  scrollbar-highlight-color:#d3d3d3;
  scrollbar-dark-shadow-color:#0000ff;
  scrollbar-3d-light-color:#ff00ff;
}
.style1 {
	color: #000000;
	font-weight: bold;
                  font-size: 12;
}
/******* hyperlink and anchor tag styles *******/

a:link, a:visited{
	color: #ffffff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: #ffdeed;
}

/************** header tag styles **************/

h1{
 font: bold 120% Arial,sans-serif;
 color: #000000;
 margin: 0px;
 padding: 0px;
}

h2{
 font: bold 114% Arial,sans-serif;
 color: #0000ff;
 margin: 0px;
 padding: 0px;
}

h3{
 font: bold 100% Arial,sans-serif;
 color: #000000;
 margin: 0px;
 padding: 0px;
}

h4{
 font: 100% Arial,sans-serif;
 color: #000000;
 margin: 0px;
 padding: 0px;
}

h5{
 font: 100% Arial,sans-serif;
 color: #000000;
 margin: 0px;
 padding: 0px;
}


/*************** list tag styles ***************/

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

/********* form and related tag styles *********/

form {
	margin: 0;
	padding: 0;
}

label{
 font: bold 1em Arial,sans-serif;
 color: #a52a2f;
}
				
input{
font-family: Arial,sans-serif;
}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/
#pagecell1{
	position:absolute;
	top: 112px;
	left: 2%;
	right: 2%;
	width:95.6%;
	background-color: #d3d3d3;
}

#tl {
	position:absolute;
	top: -1px;
	left: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}

#tr {
	position:absolute;
	top: -1px;
	right: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}

#masthead{
	position: absolute;
	top: 0;
	left: 0;
	right: 2%;
	width:100%;
	
}

#pageNav{
	float: left;
	width:178px;
	padding: 0px;
	background-color: #d3d3d3;
	border-right: 1px solid #a52a2f;
	border-bottom: 1px solid #a52a2f;
	font: small Arial, Verdana,sans-serif;
}

#content{
	padding: 0px 10px 0px 0px;
	margin:0px 0px 0px 178px;
	border-left: 1px solid #a52a2f;
}


/***********************************************/
/* Component Divs                              */
/***********************************************/
#siteName{
	margin: 0px;
	padding: 16px 0px 8px 0px;
	color: #ffffff;
	font-weight: normal;
}

/************** utility styles *****************/

#utility{
	font: 83% Arial, Verdana,sans-serif;
	position: absolute;
	top: 11px;
	right: 0px;
	color: #0000ff;
}

#utility a{
	color: #000000;
}

#utility a:hover{
	text-decoration: underline;
                    color: #000000;
}

/************** pageName styles ****************/

#pageName{
	padding: 0px 0px 10px 10px;
	margin: 0px;
	border-bottom:1px solid #a52a2f;
}

#pageName h2{
	font: bold 175% Arial,sans-serif;
	color: #0000ff;
	margin:0px;
	padding: 0px;
}

#pageName img{
	position: absolute;
	top: 0px;
	right: 6px;
	padding: 0px;
	margin: 0px;
}

/************* globalNav styles ****************/

#globalNav{
	position: relative;
	width: 100%;
	top:0px;
                    min-width: 640px;
	height: 29px;
	color: #000000;
	padding: 0px;
	margin: 0px;
	background-image: url(glbnav_background.gif);
}

#globalNav img{
	margin-bottom: 1px;
 
}

#gnl {
	position: absolute;
	top:0px;
	left:0px;
}

#gnr {
	position: absolute;
	top: 0px;
	right:0px;
}

#globalLink{
	position: absolute;
	top: 0;
	min-width: 640px;
	padding: 0px;
	margin: 0px;
	left: 3;
	z-index: 100;
	width: 100%;
}


a.glink, a.glink:visited{
  	font-size: 12;
  	color: #a52a2f;
	font-weight: bold;
	margin: 0px;
	padding: 2px 5px 4px 5px;
	border-right: 1px solid #a52a2f;
}

a.glink:hover{
  	background-image:  url("glblnav_selected.gif");
	text-decoration: none;
                     color: #000000;

.skipLinks {display: none;}

/************ subglobalNav styles **************/

.subglobalNav{
	position: absolute;
	top:90px;
	left: 0px;
	/*width: 100%;*/
	min-width: 640px;
	height: 0px;
	padding: 0px 0px 0px 10px;
	visibility: hidden;
	color: #ffff99;
}

.subglobalNav a:link, .subglobalNav a:visited {
	font-size: 80%;
	color: #ffff66;
}

.subglobalNav a:hover{
	color: #ffff66;
}

/*************** search styles *****************/

#search{
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 99;
	left: 80%;
	width: 162px;
	background-color: #0000ff;
	height: 16px;
}

#search input{
  font-size: 70%;
  margin: 0px  0px 0px 10px;
 }
 
#search a:link, #search a:visited {
	font-size: 80%;
	font-weight: bold;
	
}

#search a:hover{
	margin: 0px;
}


/************* breadCrumb styles ***************/

#breadCrumb{
	padding: 5px 0px 5px 10px;
	font: small Arial,sans-serif;
	color: #cfd3f7;

#breadCrumb a{
	color: #0000ff;
}

#breadCrumb a:hover{
	color: #a52a2a;
	text-decoration: underline;
}


/************** feature styles *****************/

.feature{
	padding: 0px 0px 10px 10px;
	font-size: 80%;
	min-height: 200px;
	height: 200px;
}
html>body .feature {height: auto;}

.feature h3{
	font: bold 175% Arial,sans-serif;
	color: #000000;
	padding: 30px 0px 5px 0px;
}

.feature img{
	float: left:2cm;
	padding: 0px 10px 0px 0px;
}


/*************** story styles ******************/

.story {
	padding: 10px 0px 0px 10px;
	font-size: 80%;
}

.story h3{
	font: bold 125% Arial,sans-serif;
	color: #a52a2a;
}

.story p {
	padding: 0px 0px 10px 0px;
}

.story a.capsule{
	font: bold 1em Arial,sans-serif;
	color: #a52a2f;
	display:block;
	padding-bottom: 5px;
}

.story a.capsule:hover{
	text-decoration: underline;
}

td.storyLeft{
	padding-right: 12px;
}


/************** siteInfo styles ****************/

#siteInfo{
	clear: both;
	border-top: 1px solid #a52a2f;
	font-size: small;
	color: #a52a2f;
	padding: 10px 10px 10px 10px;
	margin-top: -1px;
}

#siteInfo img{
	padding: 4px 4px 4px 0px;
	vertical-align: middle;
}


/************ sectionLinks styles **************/

#sectionLinks{
	margin: 0px;
	padding: 0px;

}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
	border-bottom: 1px solid #a52a2f;
}

#sectionLinks a:link, #sectionLinks a:visited {
	display: block;
	border-top: 1px solid #a52a2f;
	border-bottom: 1px solid
	background-image:  url("bg_nav.jpg");
	font-weight: bold;
	padding: 3px 0px 3px 10px;
	color: #a52a2f;
}
a
#sectionLinks a:hover{
	border-top: 1px solid #a52a2f;
	background-color: #5a2a2f;
	background-image: none;
	font-weight: bold;
	text-decoration: none;
}


/************* relatedLinks styles **************/

.relatedLinks{
	margin: 0px;
	padding: 0px 0px 10px 10px;
	border-bottom: 1px solid #a52a2f;
}

.relatedLinks h3{
	padding: 10px 0px 2px 0px;
}

.relatedLinks a{
	display: block; 
}


/**************** advert styles *****************/

#advert{
	padding: 10px;
}

#advert img{
	display: block;
}

/********************* end **********************/
